body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #546e7a;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  color: #fff
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 4rem;
}

h4 {
  font-size: 0.8rem;
  font-weight: 1;
  color: #fff;
  margin: 0;
}

header {
  margin: 0;
}

button {
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  -webkit-box-shadow: none;
  outline: none;
  outline-offset: 0;
  box-shadow: 2;
  border: none;
}

.container {
  margin: auto;
  margin-bottom: 50px;
  max-width: 50%;
  height: 40vh;
  padding: 60px;
  border-radius: 15px;
}

.interface {
  height: 800px;
  padding: 0;
  text-align: center;
}

.low-usage {
  background-color: #dcedc8;
  color: #8bc34a;
}

.medium-usage {
  background-color: #fffffb;
  color: #5f4339;
}

.high-usage {
  background-color: #ffccbc;
  color: #c63f17;
}

.control {
  border-radius: 100%;
  border-color: #d0d9de;
  border: 3px;
  font-size: 3rem;
  font-weight: 1;
  margin: auto;
  width: 4.5rem;
  height: 4.5rem;
}

.control-container {
  display: flex;
  width: 100%;
  height: 150px;
  margin-bottom: 0;
}


.control.focus,
.control:active:focus,
.control:focus,
.control:hover {
  -webkit-box-shadow: none;
  outline: none;
  outline-offset: 0;
  border: none;
  box-shadow: none;
  background-color: #546e7a;
  color: white;
}

#bottom-panel {
  padding: 70px;
}

 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 15px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #819ca9;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #c5e1a5;
}

input:focus {
  background-color: #92998a;
  box-shadow: 0 0 1px #92998a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #c5e1a5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

#reset {
  border-radius: 100px;
  background-color: white;
  width: 15px;
  height: 15px;
  border: none;
  margin: 0
}

#reset:hover {
  border: 4px solid;
  border-color: red;
  padding: 2px;
}

#reset:active {
  width: 20px;
  height: 20px;
  background-color: red;
}

@media all and (max-width: 600px) {

  .container {
    max-width: 90%;
  }

}